@import url('https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@300&display=swap');
/********** Colors **********/
/********** Primary **********/
$white: hsl(0, 0%, 100%);
$black: hsl(0, 0%, 0%);
$dark-gray: hsl(0, 0%, 55%);
$very-dark-gray: hsl(0, 0%, 41%);
/********** Custom Variables **********/
$transparent: hsla(0, 0%, 0%, 0);
$transparent-black: hsla(0, 0%, 0%, .66);
$black-gradient: linear-gradient(90deg, $transparent-black, $transparent);
$alata-font: 'Alata', sans-serif;
$josefin-font: 'Josefin Sans', sans-serif;
$body-max-width: 1440px;
$main-padding: 3em 10em;

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-size: 15px;
  max-width: $body-max-width;
  margin: 0 auto;
}

h1,
h2 {
  font-family: $josefin-font;
  font-weight: 300;
}

p {
  font-family: $alata-font;
  font-weight: 300;
  color: $dark-gray;
}

img {
  color: transparent;
}

button {
  cursor: pointer;
  border: none;
  background: none;
}

a {
  text-decoration: none;
  font-family: $alata-font;
  color: inherit;
  transition: .2s;
  display: inline-block;
  position: relative;

  &.underline {
    padding-bottom: .5em;
  }

  &.underline::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    border-bottom: 3px solid $white;
    border-radius: 2em;
    transition: .2s;
    transform: translateX(-50%);
  }

  &.underline:hover::after {
    width: 50%;
  }
}

ul {
  list-style: none;
}

.logo {
  background: url('../images/logo.svg') center/contain no-repeat;
  display: inline-block;
  width: 150px;
  height: 25px;
}

header {
  background: url('../images/mobile/image-hero.jpg') center/cover no-repeat;
  height: 650px;
  padding: 3em 1.5em;
  position: relative;

  .nav-container {
    display: flex;
    justify-content: space-between;

    .menu {
      @mixin menu-btn($icon-url) {
        background: url($icon-url) center/contain no-repeat;
        width: 25px;
        height: 25px;
      }

      #hamburger-btn {
        @include menu-btn('../images/icon-hamburger.svg');
      }

      &__mobile {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: $black;
        color: $white;
        z-index: 1;
        padding: 3em 1.5em;
        display: flex;
        flex-direction: column;
        justify-content: center;

        &--hidden {
          display: none;
        }

        .logo {
          margin-bottom: auto;
        }

        #close-btn {
          @include menu-btn('../images/icon-close.svg');
          position: absolute;
          top: 3.25em;
          right: 1.75em;
        }

        ul {
          margin-bottom: auto;

          li {
            margin: 1.5em 0;
          }

          a {
            font-family: $josefin-font;
            font-size: 1.5rem;
            font-weight: 300;
          }
        }
      }

      &__desktop {
        display: none;
      }
    }
  }

  h1 {
    font-size: 3rem;
    color: $white;
    display: inline-block;
    padding: .6em;
    border: 2px solid $white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: .95;
    width: min-content;
  }
}

main {
  text-align: center;
  padding: 6.45em 1.5em;

  h1 {
    font-size: 2rem;
    line-height: 1;
    margin-bottom: .6em;
  }

  p {
    line-height: 1.7;
  }

  .presentation {
    padding-bottom: 4em;

    img {
      background: url('../images/mobile/image-interactive.jpg') center/contain no-repeat;
      display: inline-block;
      width: 100%;
      height: 63.23vw;
      margin-bottom: 3em;
    }
  }

  .creations {

    h1 {
      margin: 1.5em 0;
    }

    .card__container {
      $height: 33.53vw;
      @mixin article-img($image-url) {
        background: $black-gradient, url($image-url) center/100% $height no-repeat;
        background-blend-mode: darken;
        width: 100%;
        height: $height;
      }
      display: flex;
      flex-direction: column;
      gap: 1.5em;

      a {
        display: flex;
        align-items: flex-end;
        padding: .75em;
        font-family: $josefin-font;
        font-size: 1.5rem;
        text-align: left;
        line-height: 1;
        color: $white;
        width: 100%;
        height: 100%;
      }

      article:first-child {
        @include article-img('../images/mobile/image-deep-earth.jpg');
      }

      article:nth-child(2) {
        @include article-img('../images/mobile/image-night-arcade.jpg');
      }

      article:nth-child(3) {
        @include article-img('../images/mobile/image-soccer-team.jpg');
      }

      article:nth-child(4) {
        @include article-img('../images/mobile/image-grid.jpg');
      }

      article:nth-child(5) {
        @include article-img('../images/mobile/image-from-above.jpg');
      }

      article:nth-child(6) {
        @include article-img('../images/mobile/image-pocket-borealis.jpg');
      }

      article:nth-child(7) {
        @include article-img('../images/mobile/image-curiosity.jpg');
      }

      article:nth-child(8) {
        @include article-img('../images/mobile/image-fisheye.jpg');
      }
    }

    button {
      font-family: 'Alata', sans-serif;
      border: 1px solid $black;
      letter-spacing: .25em;
      padding: .6em 2.75em;
      font-size: .9rem;
      margin: 2.25em;
      transition: .2s;

      &:hover {
        background-color: $black;
        color: $white;
      }
    }
  }
}

footer {
  background-color: $black;
  color: white;
  text-align: center;
  padding: 3.75em 0;
  position: relative;

  ul:nth-child(2) {
    padding: .75em 0;

    li {
      margin: 1.25em 0;
    }
  }

  .social-media {
    @mixin share-icon($icon-url) {
      background: url($icon-url) center/contain no-repeat;
    }
    padding: 1em 0;

    li {
      display: inline-block;
      width: 1.75em;
      height: 1.75em;
      margin-right: 1em;
    }

    li:last-child {
      margin-right: 0;
    }

    a {
      display: inline-block;
      width: 100%;
      height: 100%;

      &.underline::after {
        bottom: -0.75em;
      }

      &.underline:hover::after {
        width: 100%;
      }
    }

    li:first-child > a {
      @include share-icon('../images/icon-facebook.svg');
    }

    li:nth-child(2) > a {
      @include share-icon('../images/icon-twitter.svg');
    }

    li:nth-child(3) > a {
      @include share-icon('../images/icon-pinterest.svg');
    }

    li:nth-child(4) > a {
      @include share-icon('../images/icon-instagram.svg');
    }
  }

  .copyright {
    display: block;
    font-family: $alata-font;
    color: $dark-gray;
  }

  .attribution {
    position: absolute;
    left: 50%;
    bottom: 0;
    color: $white;
    font-family: $alata-font;
    transform: translate(-50%);
    width: 100%;
  }
}

@media (min-width: 1000px) {

  header {
    background: url('../images/desktop/image-hero.jpg') center/cover no-repeat;
    padding: $main-padding;

    .nav-container {
      display: flex;
      justify-content: space-between;

      .menu {

        #hamburger-btn,
        &__mobile {
          display: none;
        }

        &__desktop {
          display: block;

          ul {
            color: $white;

            li {
              display: inline;
              margin-right: 1em;

              &:last-child {
                margin-right: 0;
              }
            }
          }
        }
      }
    }

    h1 {
      left: 10vw;
      transform: translateY(-50%);
      width: 14ch;
      font-size: 3.5rem;
    }
  }

  main {
    text-align: left;
    padding: 10em;

    h1 {
      font-size: 2.5rem;
    }

    .presentation {
      position: relative;
      height: 600px;

      img {
        background: url('../images/desktop/image-interactive.jpg') center/contain no-repeat;
        position: absolute;
        left: 0;
        top: 0;
        width: 50vw;
        max-width: calc($body-max-width / 2);
        height: 34vw;
        max-height: 489.6px;
      }

      & > div {
        background-color: $white;
        padding: 5em;
        position: absolute;
        left: 51%;
        top: 31%;
        width: 510px;
        height: 400px;
      }
    }

    .creations {
      position: relative;

      .card__container {
        @mixin article-img($image-url) {
          background: $black-gradient, url($image-url) center/cover no-repeat;
          background-blend-mode: darken;
          width: 100%;
          max-height: 480px;
        }
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, auto);

        article:first-child {
          @include article-img('../images/desktop/image-deep-earth.jpg');
        }

        article:nth-child(2) {
          @include article-img('../images/desktop/image-night-arcade.jpg');
        }

        article:nth-child(3) {
          @include article-img('../images/desktop/image-soccer-team.jpg');
        }

        article:nth-child(4) {
          @include article-img('../images/desktop/image-grid.jpg');
        }

        article:nth-child(5) {
          @include article-img('../images/desktop/image-from-above.jpg');
        }

        article:nth-child(6) {
          @include article-img('../images/desktop/image-pocket-borealis.jpg');
        }

        article:nth-child(7) {
          @include article-img('../images/desktop/image-curiosity.jpg');
        }

        article:nth-child(8) {
          @include article-img('../images/desktop/image-fisheye.jpg');
        }
      }

      button {
        position: absolute;
        top: 0;
        right: 0;
        margin: 0;
      }
    }
  }

  footer {
    padding: $main-padding;
    text-align: left;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    align-items: center;
    row-gap: 1em;

    & > ul:nth-child(2) {
      grid-column: 1 / 2;
      grid-row: 2 / 3;
      padding: 0;

      li {
        display: inline;
        margin-right: 1em;

        &:last-child {
          margin-right: 0;
        }
      }
    }

    .social-media {
      grid-column: 2 / 3;
      grid-row: 1 / 2;
      padding: 0;
      justify-self: end;
    }

    .copyright {
      grid-column: 2 / 3;
      grid-row: 2 / 3;
      justify-self: end;
    }
  }
}
